$blue:  #161D6F;
$blue-transparent: rgba(15, 52, 96, 0.7);

$font-color: #eee;

$background-blue: #161D6F;
$border-lightblue: #98DED9;
$hover-blue: #3a429b;

$linear-gradient-default: linear-gradient(to bottom right, rgba(22, 29, 111, 0.4), 80%, rgba(78, 85, 169, 0.6));

$over-lightgreen: #C7FFD8;