@use 'components';
@use 'colors';

.kenmerken {
    @extend %section;
}

.kenmerken__header {
    @extend %header;
}


.kenmerken__h2 {
    @extend %h2Handwriting;
}

.kenmerken__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 0rem;
}

.kenmerken__listItem {
    list-style: none;
    color: colors.$font-color;
    flex-shrink: 0;
    width: 40%;
    // width: calc(50% - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.kenmerken__p {
    width: 40rem;
    text-align: center;
    padding: 2rem;
}

.kenmerken__logo{
    @extend %icon;
    font-size: 100%;
    border: 0.2rem solid colors.$border-lightblue;
}